footer {
  background: #000;
  color: #fff;
  .container {
    display: flex;
    gap: 100px;
    gap: 100px;
    justify-content: space-between;
    .footer-details {
      width: 450px;
      gap: 50px;
      display: flex;
      flex-direction: column;
      p {
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        color: #b5b0b7;
      }
    }
    .bottom_links {
      width: 850px;
      display: flex;
      justify-content: space-between;
      div {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        .label {
          border-left: 2px solid rgba(255, 255, 255, 0.1);
          padding: 0px 20px;
          margin-bottom: 20px;
        }
        .bottom_menu {
          list-style-type: none;
          padding: 0;

          li {
            font-size: 14px;
            font-weight: 500;
            padding: 10px 20px;

            a {
              text-decoration: none;
              color: rgba(255, 255, 255, 0.7);
              &:hover {
                color: #44c7fc;
              }
            }
          }
          &.twoCol {
            li {
              width: 50%;
            }
          }
        }
        &.typ2 {
          display: flex;
          flex-wrap: wrap;
          width: 300px;
          flex-direction: column;
          .bottom_menu {
            display: flex;
            flex-wrap: wrap;
            width: 460px;
          }
        }
      }
    }
  }
  .social_Icons {
    list-style-type: none;
    display: flex;
    li {
      cursor: pointer;
    }
  }
  .container-fluid {
    padding: 50px 0;
    border-top: 1px solid var(--Container-divider, rgba(255, 255, 255, 0.1));
    ul {
      list-style-type: none;
      display: flex;
      justify-content: center;
      align-items: center;
      li {
        a {
          padding: 0 15px;
          text-decoration: none;
          color: var(--Foreground-secondary, rgba(255, 255, 255, 0.7));
        }
        &:first-child {
          height: 20px;
          border-right: 1px solid rgba(255, 255, 255, 0.1);
        }
      }
    }
  }
}

@media (max-width: 768px) {
  footer .container .bottom_links div.typ2 .bottom_menu {
    width: auto;
  }
  footer .container {
    gap: 30px;
  }
}

@media (max-width: 599px) {
  footer .container {
    flex-direction: column;
  }
  footer .container .bottom_links {
    width: 100%;
    flex-direction: column;
  }
  footer .container .bottom_links div.typ2 {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    flex-direction: column;
  }
  footer .container .bottom_links div .bottom_menu.twoCol li {
    width: 39%;
  }
  footer .container .footer-details {
    width: 100%;
    padding: 20px;
  }
  footer .container .bottom_links div .bottom_menu {
    flex-wrap: wrap;
    display: flex;
    margin-bottom: 20px;
  }
  footer .container .bottom_links div .label {
    margin-bottom: 0;
  }
  footer .container {
    align-items: center;
    gap: 0;
  }
  footer .container-fluid {
    padding: 20px 0;
  }
}
