$primary-color: #010203;
$secondary-color: #6c757d;
$border-color: #44c7fc;
$spacing-unit: 16px;
$font-size-base: 1em;
$btn-radius: 8px;
$btn-shadow: 0 8px 24px 0 rgba(68, 199, 252, 0.25);
$defaulTransition: 0.35s ease-in-out all;
